<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminlogin.css">
    <title>Document</title>
</head>
<body>
    <div class="SEC-1">
        <img class="logo" src="/assets/Jafstar Group of Companies logo white.png" alt="">
        <p>JAFSTAR PHOTOGRAPHY</p>
    </div>
    <p class="message"><%= msg %></p>
    <div class="SEC-2">
        <form method="post" action="">
            <input name="Email" type="text" placeholder="Username">
            <input name="Password" type="password" placeholder="Password">
            <button value="LOGIN" id="login-btn">LOGIN</button>
        </form>
    </div>
</body>
<script async src="scripts/hide.js"></script>
</html>
