<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/checkout.css">
    <title>Document</title>
</head>
<body>
    <p class="text">CHECK OUT PAGE</p>
    <span> <i> Please confirm the following details before payment !</i></span>

    </meter>
    <div class="container">   
        <h4>CUSTOMER NAME</h4> 
        <p><%= name %></p>
        <h4>CUSTOMER EMAIL</h4> 
        <p><%= email %></p>
        <h4>CUSTOMER PHONE NUMBER</h4> 
        <p>09064711987</p>
        <h4>NUMBER OF ITEM IN CART</h4> 
        <p><%= length %></p>
        <h4>AMOUNT OF ITEM IN CART ($)</h4> 
        <p>$<%= amount %></p>
    </div>
    <div class="sect-2">
        <a href="/pay"><button class="payment-btn">CONFIRM AND PURCHASE</button></a>
    </div>
</body>
</html>