<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminlogin.css">
    <title>REGISTER</title>
</head>
<body>
    <div class="SEC-1">
        <img class="logo" src="/assets/Jafstar Group of Companies logo white.png" alt="">
        <p>JAFSTAR PHOTOGRAPHY</p>
        <p class="message"><%= msg %></p>
    </div>
    <div class="SEC-2">
        <form method="post" action="">
            <input class="input" value="" name="Email" type="email" placeholder="Email">
            <input class="input" value="" name="Username" type="text" placeholder="Username">
            <input class="input" value="" name="Number" type="text" placeholder="Mobile Number">
            <input class="input" value="" name="Password" type="password" placeholder="Password">
            <input class="input" value="" name="Confirm_Password" type="password" placeholder="Confirm Password">
            <button value="REGISTER" id="login-btn">REGISTER</button>
        </form>
    </div>
</body>

<script async src="scripts/hide.js"></script>
</html>
